<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pasajeros</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/image-cropper.css" rel="stylesheet">
  <script src="vue/axios.js"></script>

  <!--VUE 2.0-->
  <script src="vue/axios.js"></script>
  <script src="./vue/vue.js" defer></script>
  <script src="./vue/node_modules/vue-cookies/vue-cookies.js" defer></script>
  <script src="./js/paths.js" defer></script>
  <script src="./js/myJourney.js" defer></script>
  <script src="./js/logout.js" defer></script>
  
  <!--Google OAuth 2.0-->
  <meta name="google-signin-client_id"
    content="634135800903-t4lnnd9m66u3lr82d4h4ncat75qbt1br.apps.googleusercontent.com">
  <script>
    function onLoad() {
      console.log("Entra el onLoad");
      gapi.load('auth2', function () {
        console.log("Entra a la funcion - antes");
        gapi.auth2.init();
        console.log("Entra a la funcion - despues");
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="background-color: #37517e;">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">ShareTravel</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Inicio</a></li>
          <li><a class="nav-link scrollto" href="search.html">Buscar</a></li>
          <li><a class="nav-link scrollto" href="organize-journey.html">Publicar viaje</a></li>
          <li><a class="nav-link scrollto" href="your-travels.html">Tus viajes</a></li>
          <li><a class="nav-link scrollto" href="mensajes.html">Mensajes</a></li>
          <li><a class="nav-link scrollto" href="profile.html">Mi perfil</a></li>
          <li><button class="getstarted scrollto btn btn-outline-primary" id="logoutBtn">Cerrar sesión</button></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main" class="pt-5">
    <!-- ======= Team Section ======= -->
    <section id="journeysDetail" class="team section-bg pt-5 pb-5">
      <div class="container" data-aos="fade-up">

        <div v-if="journey.participants.length == 0" class="section-title pt-5 pb-5">
          <h2>Pasajeros</h2>
          <h4 class="col-5 card text-danger mt-4 p-2 mx-auto d-block text-center">Aún no hay pasajeros</h4>
          <a class="col-2 mt-5 mx-auto d-block text-center btn-primary rounded-pill"
            :href="'my-journey.html?journey='+journey.id">Volver</a>
        </div>
        <div v-if="journey.participants.length != 0">
          <h2>Pasajeros</h2>
          <div class="row" v-for="participant in participants">
            <div class="col-lg-6">
              <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                <div class="pic">
                  <img v-if="participant.picture == null || !participant.picture"
                    class="rounded-circle mt-3 d-block pr-3" src="assets/img/car.png" width="280px" height="180px" />
                  <img v-if="participant.picture" class="rounded-circle mt-3 d-block pr-3" :src="participants.picture"
                    width="280px" height="180px" />
                  <div class="member-info">
                    <h4>{{participant.name}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="col-2 mt-5 mx-auto d-block text-center btn-primary rounded-pill"
            :href="'my-journey.html?journey='+journey.id">Volver</a>

    </section><!-- End Team Section -->

  </main>
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Únete a nuestro Newsletter</h4>
            <p>¡Estarás informado de las últimas noticias y novedades!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Unirme">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>ShareTravel</h3>
            <p>
              35 Blvr. Louis Pasteur <br>
              Malaga, MA 29071<br>
              España <br><br>
              <strong>Teléfono:</strong> +34 612 34 56 78<br>
              <strong>Email:</strong> sharetravel@info.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestras redes sociales</h4>
            <p>¡Échale un vistazo a nuestras cuentas en las redes, consigue descuentos y participa en sorteos!</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>ShareTravel</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Transportes UMA-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
<script src="vue/profile.js"></script>

</html>