<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mi perfil - ShareTravel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/image-cropper.css" rel="stylesheet">
    <script src="vue/vue.js"></script>
    <script src="./vue/node_modules/vue-cookies/vue-cookies.js"></script>
    <script src="vue/axios.js"></script>
    <script src="./js/logout.js" defer></script>

    <!--Google OAuth 2.0-->
    <meta name="google-signin-client_id"
        content="634135800903-t4lnnd9m66u3lr82d4h4ncat75qbt1br.apps.googleusercontent.com">
    <script>
        function onLoad() {
            console.log("Entra el onLoad");
            gapi.load('auth2', function () {
                console.log("Entra a la funcion - antes");
                gapi.auth2.init();
                console.log("Entra a la funcion - despues");
            });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <link href="./css/customBorders.css" rel="stylesheet">
    <link href="./css/objective-img.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.html">ShareTravel</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="index.html">Inicio</a></li>
                    <li><a class="nav-link scrollto" href="search.html">Buscar</a></li>
                    <li><a class="nav-link scrollto" href="organize-journey.html">Publicar viaje</a></li>
                    <li><a class="nav-link scrollto" href="your-travels.html">Tus viajes</a></li>
                    <li><a class="nav-link scrollto" href="mensajes.html">Mensajes</a></li>
                    <li><a class="nav-link scrollto" href="profile.html">Mi perfil</a></li>
                    <li><button class="getstarted scrollto btn btn-outline-primary" id="logoutBtn">Cerrar
                            sesión</button></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <main id="main" class="bg-light">
        <div id="vueApp">
            <section class="inner-page mt-5">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-11 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="200">

                            <!-- Perfil -->
                            <div class="list-group custom-rounded-borders shadow-sm bg-white">
                                <div class="list-group-item px-3 py-4">
                                    <div class="section-title">
                                        <h2>{{user.username}}</h2>
                                    </div>
                                    <div class="mx-auto image-cropper">
                                        <img v-if="!user.picture"
                                            class="rounded-circle mx-auto mt-3 d-block img-responsive"
                                            src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-m-02.svg"
                                            width="200px" height="200px" />
                                        <img v-if="user.picture"
                                            class="rounded-circle mx-auto mt-3 d-block img-responsive"
                                            :src="user.picture" width="200px" height="200px" />

                                    </div>
                                </div>
                                <div class="list-group-item px-md-5 py-4 px-3">
                                    <div class="d-flex flex-row">
                                        <h3>Datos personales</h3>
                                        <div class="ms-4">
                                            <a href="profile-edition.html" v-if="isLoggedUser"
                                                class="btn btn-primary badge rounded-pill" type="button">Editar mi
                                                perfil</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="lead">Nombre: <b>{{user.name}}</b> </p>

                                    <p class="lead">Usuario: <b>{{user.username}}</b> </p>

                                    <p class="lead">Email: <b>{{user.email}}</b> </p>
                                </div>

                            </div>

                            <!-- Pagos Online -->
                            <div class="list-group custom-rounded-borders shadow-sm bg-white mt-4">
                                <div class="list-group-item px-3 py-4">
                                    <div class="section-title">
                                        <h2>Pagos Online</h2>
                                        <img class="rounded mx-auto d-block mt-5 img-responsive mx-3"
                                            src="./assets/img/stripe-logo.svg" width="100%" height="100px" />
                                        <h4 v-if="!stripeOnBoardingCompleted"
                                            class="col-5 card text-danger mt-4 p-2 mx-auto d-block text-center">Aún no
                                            ha configurado correctamente Stripe</h4>
                                        <p class="lead mt-4 mx-4"><b>Comienza ahora con los pagos online!</b> Ahora,
                                            puede gestionar todos los pagos online con Stripe!</p>
                                        <a class="btn btn-primary rounded-pill mt-4 px-4 fw-bold" :href="stripeUrl"
                                            target="_blank">{{ !stripeOnBoardingCompleted ? "Configurar Stripe" :
                                            "Acceder a Stripe"}}</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Vehículos -->
                            <div class="list-group custom-rounded-borders shadow-sm bg-white mt-4">
                                <div class="list-group-item px-3 py-4">
                                    <div class="section-title">
                                        <h2>Vehículos</h2>
                                    </div>
                                    <h4 v-if="vehicles.length == 0"
                                        class="col-5 card text-danger mt-4 p-2 mx-auto d-block text-center">Aún no tiene
                                        vehículos</h4>
                                </div>

                                <div class="list-group-item px-md-5 py-4 px-3" v-for="vehicle in vehicles">
                                    <div class="image-cropper mb-3">
                                        <img id="picture" v-if="vehicle.picture == null || !vehicle.picture"
                                            class="rounded mx-auto d-block mt-5 img-responsive" src="assets/img/car.png"
                                            width="280px" height="180px" />
                                        <img id="picture" v-if="vehicle.picture"
                                            class="rounded mx-auto d-block mt-5 img-responsive" :src="vehicle.picture"
                                            width="280px" height="180px" />
                                    </div>
                                    <p class="lead">Apodo del vehículo: <b>{{vehicle.name}}</b> </p>

                                    <p class="lead">Matricula: <b>{{vehicle.registration}}</b> </p>

                                    <p class="lead">Modelo: <b>{{vehicle.model}}</b> </p>

                                    <p class="lead">Combustible: <b>{{vehicle.combustible}}</b> </p>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </section>
        </div>
    </main>


    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
<script src="vue/profile.js"></script>

</html>